<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title - Example</title>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet" type="text/css">
    <link href="~/lib/icomoon/style.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/build/css/alertify.min.css" rel="stylesheet" />
    <link href="~/lib/alertifyjs/build/css/themes/default.min.css" rel="stylesheet" />
    <link href="~/Content/css/Custom.css" rel="stylesheet" />
</head>
<body data-mode="idle">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebRTC Audio Caller</a>
                @*<span id="loadingSpinner" class="glyphicon glyphicon-repeat fast-right-spinner"></span>*@
                
                <div class="collapse navbar-collapse">
                    <span class="navbar-text text-right">
                        You are <span id="upperUsername"></span>
                    </span>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/lib/alertifyjs/build/alertify.min.js"></script>
    <script src="~/Content/js/utilsRTC.js"></script>
    <script src="~/Content/js/constWebRTC.js"></script>
    <script src="~/lib/adapter/adapter.min.js"></script>
    <script src="~/Content/js/connectionHub.js"></script>
    <script src="~/Content/js/Custom.js"></script>
</body>
</html>
